@font-face {
  font-family: "Exo2.0";
  font-display: swap;
  src:
    url("../fonts/Exo2.0-Thin.woff2") format("woff2"),
    url("../fonts/Exo2.0-Thin.woff") format("woff");
  font-weight: thin;
  font-style: normal;
}