*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: $font-trebuchet;
  background-image:
    linear-gradient(rgba(#000, 0.5), transparent, rgba(#000, 0.5)),
    url("../img/pattern.png");
  background-size: cover, 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#root {
  display: flex;
}