$cl-blue: #1698d9;
$cl-blue-hover: #2ea8e6;
$cl-yellow: #ffff66;
$cl-silver: #b3b3b3;
$cl-pink: #d91667;
$cl-pink-hover: #e52e7a;

$font-exo2: "Exo2.0", sans-serif;
$font-trebuchet: "Trebuchet MS", sans-serif;